<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h1>Welcome, <%= user.first_name %>
            <%= user.last_name %>!</h1>
    <p>Username: <%= user.username %>
    </p>
    <p>Membership: <%= user.membership_status ? "Premium" : "Basic" %>
    </p>
    <a href="/log-out">Logout</a>

    <h2>All Messages</h2>
    <% if (messages.length===0) { %>
        <p>No messages have been posted yet.</p>
        <% } else { %>
            <ul>
                <% messages.forEach(msg=> { %>
                    <li>
                        <strong>
                            <%= msg.title %>
                        </strong> - (@<%= msg.username %>) - <%= new Date(msg.created_at).toLocaleString() %>
                                <p>
                                    <%= msg.body %>
                                </p>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <h2>Create a New Message</h2>
                <form action="/dashboard" method="post">
                    <input type="text" name="title" placeholder="Title" require />
                    <textarea name="body" placeholder="Write your message here..." required></textarea>

                    <button type="submit">Create Message</button>
                </form>
</body>

</html>